@{
  Layout = "_Layout";
}

@model ToDoList.Models.Formu

<h1>Add a tag</h1>

<h4>Add a tag to this task: @Html.DisplayFor(model => model.FormulaName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FormuId)

    @Html.Label("Select tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Save" class="accept"/>
}

<p>@Html.ActionLink("Back to list", "Index", new { area = "" }, new { @class = "accept" })</p>