@{
  Layout = "_Layout";
}

@model Recipe.Models.Formula

<h1>Add a new task</h1>

@using (Html.BeginForm())
{
    @Html.Label("Recipe Name")
    <br>
    @Html.TextBoxFor(model => model.FormulaName)
    <br>
    @Html.LabelFor(model => model.Ingredients)
    <p>Format: quantity ingredient, ... (dont forget to pace commas between each ingredient) </p>
    <br>
    @Html.TextAreaFor(model => model.Ingredients, new { @rows=5 })
    <br>
    @Html.LabelFor(model => model.Instructions)
    <br>
    @Html.TextAreaFor(model => model.Instructions, new { @rows=10 })
    <br>
    @Html.Label("Select tag: ")
    @Html.DropDownList("TagId")
    <br>
    <input type="submit" value="Add new recipe" class="accept" />
    <br>
}
<br>
<p>@Html.ActionLink("Show all recipes", "Index", new { area = "" }, new { @class = "accept" })</p>