@{
  Layout = "_Layout";
}

@model Recipe.Models.Formula;
@* @using Recipe.Models.Formula.Ingredients; *@

<h1>Recipe Details</h1>
<hr />
<h3>@Html.Label("Recipe Name"): @Html.DisplayFor(model => model.FormulaName)</h3>
<p>@Html.LabelFor(model => model.Ingredients):
  <br>
  @Html.DisplayFor(model => model.Ingredients)
</p>


<ul>
@foreach(var Ing in Model.ListIngredients())//pretty sure the error is somewhere here
{
  <li>@($"{Ing}")</li>
}
</ul>

<p>@Html.LabelFor(model => model.Instructions):
  <br>
  @Html.DisplayFor(model => model.Instructions)
</p>



@if(@Model.JoinEntities.Count == 0)
{
  <p>This formula does not belong to any tags</p>
}
else
{
  <h4>Tags this recipe belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Tag.TagName</li>
    @using (Html.BeginForm("DeleteTag", "Formulas"))
    {
      @Html.Hidden("joinId", @join.BoxId)
      <input type="submit" value="Delete" class="delete" />
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index", new { area = "" }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.FormulaId }, new { @class = "accept" })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.FormulaId }, new { @class = "accept" })</p>