@{
  Layout = "_Layout";
}

@model Recipe.Models.Formula

<h1 class="img">Edit</h1>

<h4>Edit this recipe: @Html.DisplayFor(model => model.FormulaName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FormulaId)
    <br>
    @Html.LabelFor(model => model.FormulaName)
    @Html.EditorFor(model => model.FormulaName)
    <br>
    @Html.LabelFor(model => model.Ingredients)
    @Html.EditorFor(model => model.Ingredients)
    <br>
    @Html.LabelFor(model => model.Instructions)
    @Html.EditorFor(model => model.Instructions)
    <br>
    @Html.Label("Select tag")
    @Html.DropDownList("TagId")
    <br>
    <br>
    for(int i = 1; i =< 10; i++)
    {
      <input type="radio" id="Rating" name="Rating" value="@i" />@i
    }
    <br>
    <input type="submit" value="Save" class="accept" />
}
<br>
<p>@Html.ActionLink("Back to list", "Index", new { area = "" }, new { @class = "accept" })</p>